<div class="jumbotron">
  <div class="container text-center">
    <h1>ALPHA BLOG 2</h1>
    <h3>Let your words be read.</h3>
    <%= link_to 'Sign up now', "#", class: 'btn btn-default btn-lg btn-xlarge' %>
  </div>
</div>
