<div class="container text-center">
  <h1>Listing All Categories</h1>
  <%= will_paginate %>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <ul class="list-group text-center">
          <li class="list-group-item article-title">
            <%= link_to "#{category.name}", category_path(category) %>
            <p class="small-text"><%= pluralize(category.articles.count, "article") %></p>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <%= will_paginate %>
</div>